html {
    --text-color: #1a162e;
    --icon-color: brightness(0) saturate(100%) invert(5%) sepia(25%)
        saturate(5335%) hue-rotate(236deg) brightness(93%) contrast(91%);
    --header-color-bg: #eee;
    --top-act-group-bg-color: #fff;
    --top-act-group-shadow: rgba(237, 237, 246, 0.2);
    --top-act-group-separate: #ededf6;
}
